.DialogBox{
    background: #fff;
    width: 50rem;
    margin: 0 auto;
    border-radius: .8rem;
    .title{
        background: #f1f1f1;
        height:4.5rem;
        padding-left: 1.5rem;
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;
        line-height: 4.5rem;
        color: #666;
        font-size: 1.5rem;
    }
}