.DS_Store
*.ipr
*.iws
*.iml
.classpath
.gradle*
.gradle/**
build/*
out
.idea
.vscode
p2p.jar
draft.story
chromedriver.log
.classpath
.gitignore.swp
.project
.settings/
*.ids
gradle.properties
*.log
*.log.*
*.bak
*.DS_Store
bin/
.download/*


/build/
coverage/
docs/
dist
node_modules
dist
src/main/webapp/resource/yeb
tools/autoCommit.js
.history
