.mask {
    background: #5c6bc2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
}
.pageForm{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 3;
    .DialogBox{
        position: relative;
        z-index: 4;
    }
        .wcmInfoForm{
            padding: 2rem 1.5rem 0;
            .item{
                margin-bottom: 2rem;
                .info{
                    width: 100%;
                    margin-bottom: .5rem;
                    font-size: 1.4rem;
                .ico{
                    color: red;
                }
            }
            .fileDialog{
                width: 100%;
                height: 2.5rem;
                line-height: 2.5rem;
                border: .1rem solid #d2d2d2;
                border-radius: .5rem;
                font-size: 1.4rem;
            }
            input{
                width: 100%;
                height: 2.5rem;
                border: .1rem solid #d2d2d2;
                border-radius: .5rem;
                font-size: 1.4rem;
            }
        .btns{
            text-align: center;
                button{
                    background: #fc7946;
                    display: inline-block;
                    padding: 0 3rem;
                    margin: 0 2rem 0 0;
                    border: 0;
                    border-radius: 1.5rem;
                    line-height: 3rem;
                    color: #fff;
                    font-size: 1.6rem;
                    &:hover{
                         cursor: pointer;
                     }
                    &.disabled{
                         background: #eee;
                         color: #ccc;
                    &:hover{
                         cursor: not-allowed;
                     }
                    }
                    &.cancle{
                         background: #fff;
                         border: .1rem solid #ddd;
                         color: #555;
                     }
                }
            }
        }
    }
}